
.heading {
    color: #EE786C;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 28px;
}

.mainDiv{
    width: 100%;

}

.btnContainer{
    width: 50%;
    display :flex;
    justify-items: space-between ;
    align-items: center;
}

 .logbtn{
    position: absolute;
    width: 224px;
    height: 48px;
    left: 349px;
    top: 202px;
     background: #E13C3C;
    box-shadow: 0px 20px 55px rgba(15, 18, 63, 0.25);
    border-radius: 10px;
    font-family: 'Poppins';
font-style: normal;
 font-weight: 500;
font-size: 20px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;
color:#fff  
}


/* .logout{
    /*text area */
     /* position: absolute;
width: 178px;
height: 30px;
left: 372px;
top: 212px; */



.cpbtn{
   position: absolute;
   height: 48px;
   width: 224px;
   left: 698px;
   right: 0px;
   top: 202px;
   bottom: 0px;
   background: #0F123F;
   box-shadow: 0px 20px 55px rgba(15, 18, 63, 0.25);
   border-radius: 10px;
   font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    
     display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF; 
}


/* .logout{
    position: absolute;
    left: 10.27%;
    right: 10.27%;
    top: 20.83%;
    bottom: 16.67%; 
    
    */
    

   
 
